<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.easyverify.dao.SecretDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.easyverify.entity.Secret">
        <id column="id" property="id" />
        <id column="uid" property="uid" />
        <result column="type" property="type" />
        <result column="state" property="state" />
        <result column="secret" property="secret" />
        <result column="expire_time" property="expireTime" />
        <result column="remark" property="remark" />
        <result column="add_time" property="addTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="column_list">
        id, uid, type, state, secret, expire_time as expireTime, remark, add_time as addTime
    </sql>

    <sql id="table_name">
        t_secret
    </sql>


    <insert id="insertOne" parameterType="com.cloud.easyverify.entity.Secret" useGeneratedKeys="true"
            keyProperty="id">
        insert into <include refid="table_name" /> values(0,#{uid},#{type},#{state},#{secret},#{expireTime},#{remark},CURRENT_TIMESTAMP())
    </insert>
    <select id="getBySecret" parameterType="com.cloud.easyverify.entity.Secret" resultType="com.cloud.easyverify.entity.Secret">
        select <include refid="column_list" /> from <include refid="table_name" /> where secret=#{secret} limit 1
    </select>
    <select id="list" parameterType="com.cloud.easyverify.entity.Secret"
            resultType="java.util.HashMap">
        select <include refid="column_list" /> from <include refid="table_name" />
        <where>
            <if test="uid!=null and uid!=''">and uid=#{uid}</if>
            <if test="type!=null and type!=''">and type=#{type}</if>
            <if test="state!=null and state!=''">and state=#{state}</if>
            <if test="secret!=null and secret!=''">and secret like CONCAT('%',#{secret},'%')</if>
        </where>
    </select>
    <delete id="deleteOne" parameterType="com.cloud.easyverify.entity.Secret">
        delete from <include refid="table_name" /> where id=#{id} and uid=#{uid} limit 1
    </delete>
    <update id="updateOne" parameterType="com.cloud.easyverify.entity.Secret">
        update <include refid="table_name" />
        <set>
            <if test="type!=null and type!=''">type=#{type},</if>
            <if test="state!=null and state!=''">state=#{state},</if>
            <if test="expireTime!=null">expire_time=#{expireTime},</if>
            <if test="remark!=null and remark!=''">remark=#{remark},</if>
        </set>
        where id=#{id} and uid=#{uid} limit 1
    </update>
    <select id="selectOne" parameterType="com.cloud.easyverify.entity.Secret"
            resultType="com.cloud.easyverify.entity.Secret">
        select <include refid="column_list" /> from <include refid="table_name" />
        <where>
            <if test="id!=null and id!=''">and id=#{id}</if>
            <if test="uid!=null and uid!=''">and uid=#{uid}</if>
        </where>
        limit 1
    </select>
 </mapper>
