<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.easyverify.dao.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.easyverify.entity.User">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="state" property="state" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="authorization" property="authorization" />
        <result column="remark" property="remark" />
        <result column="add_time" property="addTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="column_list">
        id, type, state, username, authorization, remark, add_time
    </sql>

    <sql id="table_name">
        t_secret
    </sql>


    <insert id="insertOne" parameterType="com.cloud.easyverify.entity.User" useGeneratedKeys="true"
            keyProperty="id">
        insert into <include refid="table_name" /> values(0,#{type},#{state},#{username},MD5(#{password}),#{authorization},#{remark},CURRENT_TIMESTAMP())
    </insert>
    <select id="getCount" parameterType="com.cloud.easyverify.entity.User" resultType="int">
        select count(1) from <include refid="table_name" />
        <where>
            <if test="username!=null and username!=''">and username=#{username}</if>
        </where>
        limit 1
    </select>
    <select id="getById" parameterType="com.cloud.easyverify.entity.User" resultType="com.cloud.easyverify.entity.User">
        select <include refid="column_list" /> from <include refid="table_name" /> where id=#{id} limit 1
    </select>
    <select id="selectOne" parameterType="com.cloud.easyverify.entity.User" resultType="com.cloud.easyverify.entity.User">
        select <include refid="column_list" /> from <include refid="table_name" />
        <where>
            <if test="username!=null and username!=''">and username=#{username}</if>
            <if test="password!=null and password!=''">and password=MD5(#{password})</if>
        </where>
        limit 1
    </select>
    <update id="updateOne" parameterType="com.cloud.easyverify.entity.User">
        update <include refid="table_name" />
        <set>
            <if test="state!=null and state!=''">state=#{state},</if>
            <if test="password!=null and password!=''">password=MD5(#{password}),</if>
            <if test="authorization!=null and authorization!=''">authorization=#{authorization},</if>
            <if test="remark!=null">remark=#{remark},</if>
        </set>
        where id=#{id} limit 1
    </update>
 </mapper>
